$colors: (
    primary: #fffbb6,
    primary-light: lighten(#fffbb6, 7),
    primary-dark: darken(#fffbb6, 25),
    accent: #4e287f,
    accent-light: lighten(#4e287f, 55),
    accent-dark: darken(#4e287f, 10),
    button: #ffffffea,
);

$sections: (
    "highlighted-yellow": map-get($colors, primary-light),
    "highlighted-purple": map-get($colors, accent-light)
);

@each $name, $value in $sections {
    .#{$name} {
        background-color: $value;
    }
}

@function color ($color-name) {
    @return map-get($colors, $color-name)
}